.apresentacao{
    background-color: rgb(142, 239, 252);
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.conteudo {
    background-color: rgb(98, 197, 236);
    padding: 50px;
    margin: 400px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}